// canvas
$canvas-width: 765px;
$canvas-height: 765px;
$wrapper-padding: 32px;
$wrapper-background: rgba(75, 75, 75, .5);

// main content
$main-width: 960px;
$main-border-width: 2px;
$main-border-radius: 2px;

// loader
$loader-width: 120px;
$loader-height: 120px;

// start-field
$start-field-width: 600px;
$start-field-height: 600px;
$start-field-button-margin: 50px;
$start-field-title-margin: -50px;
$start-field-text-color: #d35400;
$start-field-background-color: #010101;
$start-field-background: $start-field-background-color url('../images/background/start.jpg') center no-repeat;
$start-field-input-height: 50px;
$start-field-input-width: 240px;


// game-over
$game-over-width: 600px;
$game-over-height: 600px;
$game-over-text-color: #010101;

// controls
$title-height: 100px;
$controls-width: 300px;
$controls-height: 80px;
$controls-text-color: #d35400;
$controls-background-color: #010101;
$button-controls-height: 80px;
$button-controls-width: 80px;
$button-border: $main-border-width solid $controls-text-color;
$button-shadow-color: rgba(0, 0, 0, .5);

// rules modal
$rules-header-height: 60px;
$rules-header-width: $rules-header-height;
$rules-border-radius: $main-border-radius;
$rules-margin: 5px;
$rules-background-color: #010101;
$rules-text-color:#d35400;
