
// canvas
$canvas_width: 800px;
$canvas_heigth: 800px;
$canvas_border: 1px solid #efefef;

// main content
$main_width:960px;

// loader
$loader_width:280px;
$loader_height:138px;

//start_field
$start_filed_width: 300px;
$start_filed_height: 300px;
$start_field_button_margin: 50px;
