// canvas
$canvas_width: 765px;
$canvas_height: 765px;
$canvas_border: 1px solid #efefef;
$wrapper_padding: 32px;

// main content
$main_width: 960px;
$main_border_width: 2px;
$main_border_radius: 2px;

// loader
$loader_width: 120px;
$loader_height: 120px;

//start_field
$start_field_width: 600px;
$start_field_height: 600px;
$start_field_button_margin: 50px;
$start_field_title_margin: -50px;
$start_field_text_color: #d35400;
$start_field_background_color: #010101;
$start_field_background: $start_field_background_color url("../images/background/start.jpg") center no-repeat;
$start_field_input_height: 50px;
$start_field_input_width: 240px;


//game_over
$game_over_width: 600px;
$game_over_height: 600px;
$game_over_text_color: #010101;

// controls
$title_height: 100px;
$controls_width: 300px;
$controls_height: 100px;
$controls_text_color: #d35400;
$controls_background_color: #010101;
$button_controls_height: 100px;
$button_controls_width: 100px;
$button_border: $main_border_width solid #d35400;

// rules modal
$rules_header_height: 60px;
$rules_header_width: $rules_header_height;
$rules_border_radius: $main_border_radius;
$rules_margin: 5px;
$rules_background_color: #010101;
$rules_text_color:#d35400;
