#arcomage {
  //width: 100%;
  max-width: $canvas_width;
  //min-width: $canvas_width/2;
  height: 99%;
  margin: 0 auto;
  border: $canvas_border;


}

#loader {
  z-index: 100;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #efefef;
}