@import '../variables';

#arcomage-wrapper {
  background: $wrapper-background;
  border: 0;
  border-radius: 5px;
  height: $canvas-height + $wrapper-padding;
  left: 50%;
  margin-left: - $canvas-width / 2 - $wrapper-padding / 2;
  position: absolute;
  top: 0;
  width: $canvas-width + $wrapper-padding;
}

#arcomage {
  display: none;
  height: $canvas-height;
  left: 50%;
  margin-left: - $canvas-width / 2;
  position: relative;
  width: $canvas-width;
}
