@import "../variables";
@import "sections";

#rulesModal {

  .modal-header {
    height: $rules_header_height;
    padding: 0;
    border-bottom: 1px solid $rules_text_color;

    h4 {

      line-height: $rules_header_height;
    }

    .close {
      height: $rules_header_height;
      width: $rules_header_width;
      opacity: .8;

      span {
        color: $rules_text_color;
        text-shadow: none;

      }
    }
  }

  .modal-content {
    color: $rules_text_color;
    background-color: $rules_background_color;
    border-radius: $rules_border_radius;

    .rules_paragraph {
      margin: 5px;
    }
  }

}
