@import '../variables';
@import 'sections';

#rulesModal {

  .modal-header {
    border-bottom: 1px solid $rules-text-color;
    height: $rules-header-height;
    padding: 0;

    h4 {
      line-height: $rules-header-height;
    }
  }

  .close {
    height: $rules-header-height;
    opacity: .8;
    width: $rules-header-width;

    span {
      color: $rules-text-color;
      text-shadow: none;
    }
  }

  .modal-content {
    background-color: $rules-background-color;
    border-radius: $rules-border-radius;
    color: $rules-text-color;

    .rules-paragraph {
      margin: 5px;
    }
  }

}
