div#wrapper {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  //background: url("../../images/background/castle1.jpg") no-repeat top center;

  //background: #34495e;

  h1 {
    text-align: center;
  }
}
