@import '../variables';

%full-screen {
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  z-index: 100;
}

%button {
  background: $controls-background-color;
  border: $button-border;
  border-radius: $button-controls-width / 2;
  color: $controls-text-color;
  display: block;
  height: $button-controls-height;
  margin: 0 auto;
  text-align: center;
  width: $button-controls-width;

  &:focus {
    outline: none;
  }

  &:hover {
    background: $start-field-text-color;
    box-shadow: none;
    color: $start-field-background-color;
    cursor: pointer;
  }

  &:active {
    box-shadow: 0 0 15px $button-shadow-color;
  }
}

#loader {
  @extend %full-screen;
  background: $controls-background-color;
  z-index: 100;

  img {
    height: $loader-height;
    left: 50%;
    margin-left: - $loader-width / 2;
    margin-top: - $loader-height / 2;
    position: absolute;
    top: 50%;
    width: $loader-width;
  }
}

//#loader

#game-over {
  @extend %full-screen;

  display: none;
  font-family: 'Lato', sans-serif;

  .container {
    background-size: cover;
    border-radius: 2px;
    box-shadow: 0 0 10px $button-shadow-color;
    color: $game-over-text-color;
    height: $game-over-height;
    left: 50%;
    margin-left: - $game-over-width / 2;
    margin-top: $title-height + $controls-height;
    position: absolute;
    width: $game-over-width;

    h1 {
      text-align: center;
    }

    h3 {
      margin: 0 auto;
      text-align: center;
      width: $game-over-text-width;
    }

    .newgame-button {
      @extend %button;
      left: 50%;
      margin-left: - $button-controls-width;
      margin-top: - $button-controls-height / 2;
      position: absolute;
      top: 50%;
      width: 2 * $button-controls-width;
    }
  }
  // .container
}

// #game-over

#start-field {
  @extend %full-screen;
  background: $start-field-background-color;
  display: none;
  z-index: 200;

  .container {
    background: $start-field-background;
    color: $start-field-text-color;
    height: $start-field-height;
    left: 50%;
    margin-left: - $start-field-width / 2;
    margin-top: - $start-field-height / 2;
    position: absolute;
    top: 50%;
    width: $start-field-width;

    .start-text {
      color: $start-field-text-color;
      margin-top: $start-field-title-margin;
    }

  }

  .start-input {
    margin-top: $start-field-padding;

    label {
      margin-bottom: 0;
    }
  }

  #player-name-input {
    border-top-left-radius: $start-field-input-border-radius;
    border-top-right-radius: $start-field-input-border-radius;

    &:focus {
      outline: none;
    }
  }

  #start-game-button {
    border-radius: 0 0 $start-field-input-border-radius $start-field-input-border-radius;
    border-top: 0;
    height: $start-field-input-height;
    width: $start-field-input-width;

    &:hover {
      background: $start-field-text-color;
      box-shadow: none;
      color: $start-field-background-color;
      cursor: pointer;
    }

    &:active {
      box-shadow: 0 0 15px $button-shadow-color;
    }
  }

  .difficulty-container {
    background: $start-field-background-color;
    border: $button-border;
    border-top: 0;
    display: flex;
    height: $start-field-input-height;
    justify-content: space-around;
    margin: 0 auto;
    width: $start-field-input-width;

    label {
      line-height: $start-field-input-height;
    }
  }

  .difficulty-level {
    border: 0;
    border-radius: 0;
    height: $start-field-input-height - $main-border-width;
    line-height: $start-field-input-height - $main-border-width;
    width: $start-field-input-width / 3;

    &:hover {
      background: $start-field-text-color;
      box-shadow: none;
      color: $start-field-background-color;
      cursor: pointer;
    }

    &.active {
      background: $start-field-text-color;
      color: $start-field-background-color;
    }
  }

  input {
    background: $start-field-background-color;
    border-color: $start-field-text-color;
    border-radius: $main-border-radius;
    color: $start-field-text-color;
    height: $start-field-input-height;
    line-height: $start-field-input-height;
    width: $start-field-input-width;

    &:focus {
      outline-color: $start-field-text-color;
    }
  }

  button {
    @extend %button;
    background: $start-field-background-color;
  }
}

// #start-field

.arcomage-header {
  margin: 0 auto;
  opacity: .4;
  width: $controls-width;
  //border: 1px solid #efefef;

  &:hover {
    opacity: 1;
  }

  .small-button {
    @extend %button;
    height: $button-controls-height;
    margin: ($title-height - $button-controls-height) / 2 0;
    padding: 0;
    width: $button-controls-width / 2;

    span {
      display: block;
      line-height: $button-controls-height / 2 - 2 * $main-border-width;
      top: 0;
      width: $button-controls-width / 2 - 2 * $main-border-width;
    }
  }

  .arcomage-header-title {
    display: flex;
    height: $title-height;
    justify-content: space-around;
    width: 100%;

    h1 {
      color: $start-field-text-color;
      line-height: $title-height;
      margin: 0;
    }
  }

  #arcomage-controls {
    align-items: center;
    display: flex;
    height: $controls-height;
    justify-content: center;
    width: 100%;

    .newgame-button {
      @extend %button;
      width: 2 * $button-controls-width;
    }

  }
}

#wrapper {
  height: 100%;
  margin: 0;
  position: absolute;
  width: 100%;
  z-index: 1;

  h1 {
    text-align: center;
  }

}

body {
  background: $start-field-background-color url('../../images/background/castle.jpg') no-repeat top center;
}
